/*-- OverRight css--*/
.skin-blue .main-header .navbar {
    background-color: #00466f;
}
.skin-blue .main-header .logo {
    background-color: #00466f;
}
/*-- DataTabe Custom Style --*/

.dc-table-style a.btn-view, a.btn-edit, a.btn-detect{
    font-size: 20px;
    padding-right: 10px;
}

.dc-table-style a.btn-view{
	color: #357CA5;
}
.dc-table-style a.btn-view:hover{
	color: #3c8dbc;
}
.dc-table-style a.btn-edit{
	color: #008D4C;
}
.dc-table-style a.btn-edit:hover{
	color: #00a65a;
}
.dc-table-style a.btn-detect{
	color:#D33724;
}
.dc-table-style a.btn-detect:hover{
	color:#f56954;
}

/*-- Modal Custom Style --*/

.example-modal .modal {
	position: relative;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	display: block;
	z-index: 1;
}
.example-modal .modal {
	background: transparent !important;
}
.customer-view{
	font-size: 15px !important;
}
table.dataTable.no-footer {
	border-bottom: none !important;
}
.item_display {
	border: 1px solid #d2d6de;
	font-size: 14px;
	padding: 7px;
	border-radius: 1px;
	background: #eeeeee;
}
.auth-head {
	text-align: center;
    border:none !important;
}
.view-box{
	margin-top: -15px;
}